# Environment variables
NODE_ENV=development
PORT=3001

# Database
DATABASE_URL="postgresql://myspeak_user:myspeak_password@localhost:5432/myspeak?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_SECRET="your-super-secret-key-min-32-characters"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# mediasoup
MEDIASOUP_LISTEN_IP="0.0.0.0"
MEDIASOUP_ANNOUNCED_IP="127.0.0.1"
MEDIASOUP_MIN_PORT=10000
MEDIASOUP_MAX_PORT=10100

# File upload
UPLOAD_DIR="./uploads"
MAX_FILE_SIZE="5242880"
